version: '3.7'

services:
  cryptomoto_app:
    build:
      context: ./
      dockerfile: Dockerfile
      target: production
    container_name: cryptomoto_app
    ports:
      - '80:3000'
    networks:
      - webnet
    env_file:
      - .env
    command: bash -c "npm run start"

networks:
  webnet:
